@model Twitter.Model.Tweet
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Index";
}
<br />
<br />
<h2>Tweet</h2>
<div>
    @Html.DisplayNameFor(model => model.Content):
    @Html.DisplayFor(modelItem => modelItem.Content)
</div>
<br />
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index") |
</div>

